script_name=housewifewars.as

base_url=http://qweq123.com/resources/hww/android/qweqweqw

#Android API Key
social_key=R4dLpsWLufAFy6z8
offer_key=

#iOS API Key
#social_key=OHANiXtIrYmW2dv6
#offer_key=

#force_update=1
social_game=1


orientation=0
#SCREEN_ORIENTATION_LANDSCAPE: 1
#SCREEN_ORIENTATION_PORTRAIT: 0

#iOS Package Name
#package_name=com.twoclams.housewifewars

#Android Package Name
package_name=com.twoclams.hww.android

app_name=HouseWifeWars
tab_name=HWW

#Android app flood settings
appflood_key=lhwP2PcABAIZB5pN
appflood_secret=rtzGgQlR189L50508b58
