script_name=housewifewars.as

base_url=http://adqwe.com/resources

#Android API Key
social_key=5Bn1P9syyztiZO1e
offer_key=

#iOS API Key
#social_key=OHANiXtIrYmW2dv6
#offer_key=

#force_update=0
social_game=1


orientation=0
#SCREEN_ORIENTATION_LANDSCAPE: 1
#SCREEN_ORIENTATION_PORTRAIT: 0

#iOS Package Name
#package_name=com.twoclams.housewifewars

#Android Package Name
package_name=com.twoclams.hww.android.live

app_name=HouseWifeWars
tab_name=HWW

#Android app flood settings
appflood_key=sMISv9BsoTVAZ8Ec
appflood_secret=2f7U7LiH1bfL50731b01
